<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add user to DB</h1>

<form th:action="@{/person/create}" th:method="post" th:object="${person}">

    <label>User name:
        <input type="text" name="username"/>
    </label><br>

    <label>User password:
        <input type="text" name="password"/>
    </label><br>

    <label>Year of birthday:
        <input type="text" name="yearOfBirthday"/>
    </label><br>

    <button type="submit">Сохранить</button>
</form>

</body>
</html>